body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-viewer .react-viewer-attribute {
  position: relative;
  opacity: 1;
  color: #f7f7f7;
  text-shadow: 0 0 5px #000, 1px 1px #000;
}

.react-viewer .react-viewer-img-details {
  margin-left: 0.5em;
}

.react-viewer .react-viewer-showTotal {
  float: none;
  position: absolute;
  right: 0;
}

.react-viewer .react-viewer-list > li > img {
  object-fit: cover;
}
