name: "main: Build & Deploy"
on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [new-translation]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # - name: Checkout translation
      #   uses: actions/checkout@v2
      #   with:
      #     ref: deploy
      #     repository: Sekai-World/sekai-i18n
      #     path: public/locales

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install packages
        run: npm ci

      - name: Build pages
        run: npm run build

      - name: Remove unnecessary files
        run: |
          rm -r build/locales/.git
          rm build/locales/LICENSE
          rm build/locales/README.md

      - name: Store build result
        uses: actions/upload-artifact@v2
        with:
          name: pages
          path: build/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Fetch build result
        uses: actions/download-artifact@v2
        with:
          name: pages
          path: build/

      - name: Deploy
        uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: gh-pages
          build_dir: build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
